<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <main class="container">
    {{{body}}}
  </main>
  <script src="/js/client.js"></script>
</body>
</html>
